/* Cambios para todos los elementos - Default */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: 'Signika', 'Bahnschrift', sans-serif;
  font-size: 10px;
}
:root {
  --main-color: #F29F05;
  --secondary-color: rgb(42, 42, 42);
  --third-color: #BF4226;
  /* --third-color: #732C2C; */
  --fourth-color: #F2F2F2; /* Claro */
}

/* Diseno responsive */
body {
  font-size: 1.2rem;
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

/* Estilo del header */
header {
  grid-column: 1/4;
  /* width: 100%;
  min-height: auto; */
  display: flex;
  background-color: var(--secondary-color);
  padding: 0 1vw;
  justify-content: space-between;
  align-items: center;
}

.nav * {
  color: var(--main-color);
  list-style: none;
  display: inline-block;
  font-size: 1.4rem;
}

.nav *:visited {
  color: white;
}

il + il::before {
  content: '| ';
}

h1 {
  color: var(--main-color);
  font-size: 3rem;
}

/* Estilo del Main */
main {
  background-color: var(--third-color);
  grid-column: 2/3;
  min-width: 50vw;
  /* margin: auto;
   margin-top: 15px;
  width: 80%;
  height: auto;
  border-radius: 8px; */
  padding: 10px 20px;
}

section {
  margin: 15px 0px;
}

.main-section {
  font-size: 1.6rem;
}

.main-section__button {
  font-size: 1.4rem;
  margin: 4px 0px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--fourth-color);
}

.main-section__button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bold;
}


/* Sidebars */
.left-sidebar {
  grid-column: 1/2;
  padding: 10px;
}

.right-sidebar {
  grid-column: 3/4;
  padding: 10px;
}
.right-sidebar .title {
  margin-bottom: 1vh;
}

.right-sidebar details {
  margin-bottom: 4px;
  padding: 4px 6px;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  border-radius: 6px;
}
.right-sidebar summary {
  color: var(--main-color);
}

details .erase {
  padding-top: 2px;
  color: red;
  font-size: 1rem;
}

/* Footer */
footer {
  text-align: center;
  grid-column: 1/4;
  background-color: var(--secondary-color);
  color: white;
}


/* Diseno de Imagenes */
.losas {
  width: 49.5vw;
  height: 33vw;
  max-width: 300px;
  max-height: 200px;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}
