/* Cambios para todos los elementos - Default */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: 'Signika', 'Bahnschrift', sans-serif;
  font-size: 62.5%;
}
/* Personalizacion de colores */
:root {
  --main-color: #F29F05;
  --secondary-color: rgb(42, 42, 42);
  --third-color: #BF4226;
  --fourth-color: #F2F2F2; /* Claro */
  --bg-color: #732C2C;
}

/* Diseno responsive */
body {
  font-size: 1.2rem;
  display: grid;
  min-height: 100vh;
  grid-template: repeat(3, auto) 1fr auto / 1fr;
  grid-template-areas: 'header' 'main' 'sidebar' 'gap' 'footer';
}

/* Estilo del header */
header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.header_item {
  display: inherit;
  align-content: center;
}
.badge {
  width: 40px;
}

.badge img {
  width: 100%;
}

header * {
  margin: 0 auto;
}

.nav * {
  color: var(--main-color);
  list-style: none;
  display: inline-block;
  font-size: 1.4rem;
}

.nav *:visited {
  color: white;
}

il + il::before {
  content: '| ';
}

h1 {
  color: var(--main-color);
  font-size: 3rem;
}

/* Estilo del Main */
main {
  grid-area: main;
  min-height: 390px;
  background-color: var(--third-color);
  padding: 10px 20px;
}

section {
  margin: 15px 0px;
}

.main-section {
  font-size: 1.6rem;
}

.main-section__button {
  font-size: 1.4rem;
  margin: 4px 0px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--fourth-color);
}

.main-section__button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bold;
}

/* Style Resultado */

#final {
  width: 50%;
  min-width: 148px;
  margin: auto;
}

#final > *{
  background-color: var(--fourth-color);
  padding: 10px;
}

#final > #res {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#final > #copiar {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: block;
  width: 100%;
}

#final > *:empty {
  padding: 0;
  width: auto;
}

#final .main-section__button {
  width: 18rem;
  max-width: 100%;
}

/* Sidebars */
.right-sidebar {
  grid-area: sidebar;
  display: inline-block;
  background-color: var(--fourth-color);
  padding: 10px;
  text-align: center;
}
.right-sidebar .title {
  margin: auto;
  margin-bottom: 1vh;
}

.right-sidebar details {
  margin-bottom: 4px;
  padding: 4px 6px;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  border-radius: 6px;
}
.right-sidebar summary {
  color: var(--main-color);
  cursor: default;
}

details .erase {
  padding-top: 2px;
  color: rgb(219, 37, 37);
  font-size: 1rem;
}

details .erase:hover {
  color: red;
  cursor: pointer;
}

/* Footer */
.gap {
  grid-area: gap;
  background-color: var(--secondary-color);
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
}


/* Diseno de Imagenes */
main #graficos {
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-width: 150px;
  width: 90vw;
}
#uni_estilos {
  grid-row: 1/2;
}
#corte_losa {
  grid-row: 2/3;
}
.losas {
  width: 100%;
}
#avanzado {
  font-size: 2rem;
  grid-row: 3/4;
  display: grid;
  grid-template: 1fr auto 1fr auto / auto 1fr auto 1fr;
  grid-template-areas: 'fy1 dib dib dib'
                       'ny dib dib dib'
                       'fy2 dib dib dib'
                       '. fx1 nx fx2';
  max-height: 300px;
}


#avanzado figure.flecha-y {
  height: 100%;
  grid-area: fy1;
}
#avanzado figure.flecha-y2 {
  height: 100%;
  grid-area: fy2;
  transform: scaleY(-1);
}
#avanzado figure.flecha-x {
  grid-area: fx1;
  width: 100%;
}
#avanzado figure.flecha-x2 {
  grid-area: fx2;
  width: 100%;
  transform: scaleX(-1);
}
.flecha-x img, .flecha-x2 img {
  width: 100%;
}
.flecha-y img, .flecha-y2 img {
  height: 100%;
}
#avanzado .figura img {
  width: 100%;
  height: 100%;
}

#avanzado figure.figura {
  grid-area: dib;
  height: 100%;
  width: 100%;
}
#avanzado span {
  font-weight: lighter;
  text-align: center;
  justify-self: center;
  padding: 2px;
}
.ny {
  grid-area: ny;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.nx {
  grid-area: nx;
}
/* Inputs */
input:invalid {
  border: 1px solid red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, rgb(255, 209, 70));
}

input:valid {
  border: 2px solid black;
}
